<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Новостной сайт{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">

</head>
<body>
    <header>
        <h1><a href="/">Главная</a></h1>
        {% block header %} {% endblock %}
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>
    <footer>
        <p>© 2024(завтра) Все права не защищены(у меня нет пар🤨)</p>
    </footer>
</body>
</html>
